# located at /etc/systemd/system/gunicorn-SITENAME.service (find and replace SITENAME with site.example.com)
[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=elspeth
Environment=EMAIL_PASSWORD=EMAILPSWD
WorkingDirectory=/home/elspeth/sites/SITENAME/source
ExecStart=/home/elspeth/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
